// ******* FULL HEIGHT VIEWPORT *******
html {
  height: 100%;
}
body {
  min-height: 100%;
}
#app-container {
  min-height: 100vh;
  @include flex-column;
  padding:  $app-padding;
  max-width: $app-max-width;
  margin: 0 auto;
}
#main-content {
	flex: 1;
	@include flex-column;
}
