// ******* FULL HEIGHT VIEWPORT *******
html {
  height: 100%;
}
body {
  height: 100%;
  overflow-y: hidden;
}

.app-container {
  height: 100vh;
  margin: 0 auto;
  @include flex-column;

	padding: $app-container-padding;
  padding-left: $app-container-padding-left-right;
  padding-right: $app-container-padding-left-right;
  max-width: $app-container-max-width;
}
.app-header {
	h1, p {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.main-content {
	flex: 1;
  margin-top: 1em;
  padding:$main-content-padding;
  overflow-y: auto;
  .lipsum-blocks {
    padding:.5em;

  }
}

.app-footer {
 @include fixed-bottom;
 display: flex;
 flex-flow: row nowrap;
 justify-content: center;
 align-items: center;
 height: 4.5em;
}

// .add-button {
//   border-radius: 50%;
// }
