html {
  height: 100%;
}
body {
  height: 100%;
  overflow-y: hidden;
}

.app-container {
  height: 100vh;
  margin: 0 auto;
  @include flex-column;

	padding: $app-container-padding;
  padding-left: $app-container-padding-left-right;
  padding-right: $app-container-padding-left-right;
  max-width: $app-container-max-width;
}
.app-header {
	h1, p {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.main-content {
	flex: 1;
  margin-top: $main-content-margin-top;
  padding:$main-content-padding;
  // overflow-y: auto;
  .lipsum-blocks {
    padding:$lipsum-blocks-padding;
  }
}

.main-content {
  position: relative;

  .app-footer-left {
    position: absolute;
    z-index: 200;
    bottom: .5em;
    left: .5em;
  }
  .app-footer-center {
    position: absolute;
    z-index: 100;
    bottom: .5em;
    left:0;
    right:0;
    text-align: center;
  }
  // .app-footer-container {
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  //   // @include fixed-bottom;
  //   height:$app-footer-height;
  //   text-align: center;
  //
  //   // .app-footer {
  //   //   display: flex;
  //   //   flex-flow: row nowrap;
  //   //   justify-content: center;
  //   //   align-items: center;
  //   //   max-width: $app-container-max-width;
  //   //   // padding-left: 1em;
  //   // }
  //   // padding-left: 2em;
  // }
}
