// BUTTONS
button {
	cursor:pointer;
}


.icon-btn {
  background-color: transparent;
  border:none;
  text-align: center;

  &:focus {
   outline: 0;
  }
}

.icon-text-btn {
  background-color: white;
  border: 1px solid $color-gray-7;
  padding: .75em 1em;

  &:hover {
    background-color: $color-gray-8;
  }
}


.btn--round {
  border-radius: 50%;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
  padding: .35em .5em;
}

//src: http://codepen.io/SitePoint/pen/vNvEwE/

.clipboard-btn {
  position: relative;
}

.copied::after {
  position: absolute;
  top: 12%;
  right: 10%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #fff;
  background-color: #22a;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}
