.list {
  margin-top: 0;
}
.list-no-bullets {
	list-style-type: none;
  padding-left: 0;
}

.list {
	  & > li {
	    padding-bottom: $list-item-padding-bottom;

			&:last-child {
			  padding-bottom:0;
			}
	  }
}
