// APP LAYOUT

// APP CONTAINER
$app-container-max-width: 40em;
$app-container-padding: .5em 0;
$app-container-padding-left-right: .75em;

// MAIN CONTENT
$main-content-margin-top: 1em;
$main-content-padding: 1em;
// $app-header-height: 7.5em;
// $app-footer-height: 3em;
// $main-content-margin-top: $app-header-height;
