// APP LAYOUT
$app-max-width: 30em;
$app-padding: 1em 2em;



// COMPONENTS
$nav_menu_position_top: 20px;
$nav_menu_position_right: $nav_menu_position_top;

// BRAND
$brand_position_top: $nav_menu_position_top;
$brand_position_left:$nav_menu_position_right;
