//BASE FONT
$base-font-family: 'Yrsa', Georgia, Times, "Times New Roman", serif;

$base-font-size:20px;
$base-font-size-tablet: 1.4em;
$base-font-size-desktop: 1.6em;
$base-text-color: #37474F;

//CONTENT
$p-font-size: 1.2em;
$p-line-height: 1.1em;

//HEADINGS
$h1-font-size: 2.3em;
$h2-font-size: 1.2em;


//LINKS
$link-color: $primary-color-dark;


